*{
    font-family: "Papyrus", "Trebuchet MS", Arial;
    letter-spacing: 1px;
    font-weight: 200;
    /* background-color: black; */
    color: black;
    cursor: pointer;
}

body {

    background-image: url("tablet.jpg");
    /* background-position: center; */
    background-size: cover;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    min-height: 100vh;

}

.welcome {

    font-family: "Papyrus", "Trebuchet MS", Arial;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    /* margin-left: 40%; */
    position: relative;
    overflow: hidden;

}

.registration-container {
    display: block;
    margin-left: 35%;
    margin-top: 10%;

}

.logincont {
    display: block;
    margin-left: 30%;
    margin-top: 15%;


}

.logo {
    width: 300px;
    height: 300px;
    float: right;

    /* background-color: #a55fc1; */
    /* background-color: #8a25b1; */
}

input {
    border: 2px solid black;
    font-size: 20px;
    margin-bottom: 4px;
    color: black;

}

#regform {
    color: black;
}

.regbutton {
    border-radius: 25%;
    margin-top: 5px;
    border: 2px solid black;
    font-size: 20px;
    color: black;

}

#booksresults {
    position: absolute;
    width: 600px;
    height: 450px;
    margin-left: 530px;
    margin-top: 190px;
    /* margin-left: 29%;
    margin-right: 30%;
    margin-top: 10%; */
    /* display: flex; */
    overflow-x: scroll;

}

#bookres {
    /* border: 2px black solid; */
    width: 610px;
    height: 430px;




}

.searchbutton {
    border-radius: 4px;
    border: 2px solid black;
    font-size: 15px;
    margin-left: 8px;
    color: black;
}

.searchbutton:hover {
    background-color: black;
    color: white;
}

#logout {
    margin-top: 15px;
}

#bookscontainer {
    margin-top: 30px;
}

#otherlinks {
    /* float: right;
    display: inline-block; */
    position:absolute;
    top: 350px;
    right: 40px;
    font-size: 25px;
    font-weight: bold;
}

.kindle {
    width: 25px;
    height: 25px;
}

#bookimg {
    width: 200px;
    height: 220px;
    display: inline-block;
    border: 1px solid black;
}

#bookimg-div {
    text-align: center;
}

#text-div {
    text-align: center;
}

.bookinfo {
    font-size: 20px;
}
